<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShaderCore.LocalizedStrings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShaderCore.LocalizedStrings>
            <setting name="ShaderCompilerFailed" serializeAs="String">
                <value>Failed to compile {0}</value>
            </setting>
            <setting name="ShaderCompilerResult" serializeAs="String">
                <value>{0} successfully compiled:</value>
            </setting>
            <setting name="ShaderLinkerFailed" serializeAs="String">
                <value>Failed to link shader:</value>
            </setting>
            <setting name="ShaderLinkerResult" serializeAs="String">
                <value>Shader compiled successfully:</value>
            </setting>
        </ShaderCore.LocalizedStrings>
    </userSettings>
</configuration>